header{
    background-color: #49204d;
    padding: 20px;
    border-bottom: 1px solid rgb(231, 178, 244);
    box-shadow: 0 0 20px #00d9ff66;
}

body {
    background-color: #1c1d45;
    color: #ffffff;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 25px;
}

nav ul li a{
    color: rgb(199, 210, 219);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

nav ul li a:hover{
    color: rgb(231, 178, 244);
    transform: scale(1.2);
}

nav ul li:hover{
    transform: scale(1.1);
}


h1{
    font-family: "Goldman", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: #25afce;
    text-align: center;
    padding: 15px;
}

blockquote{
    text-align: center;
}

.img-centro{
    display: block;
    margin: 0 auto;
}

img{
    height: 300px;
}


ul figure img{
    height: 300px;
}

p{
    padding: 20x;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2a6cae;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40x;
    margin-bottom: 30px;
}

article figure > img{
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 20px #00d9ff66;
}

article figure > img:hover{
    transform: scale(1.1)
}
