img{
    box-shadow: 0 0 20px #00d9ff66;
    height: 400px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

blockquote {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #e6bff4;
    margin: 30px auto;
}

footer {
    text-align: center;
    color: #b8b0b0;
    padding: 8px;
    font-size: 15px;
}