

span {
  font-weight: bolder;
  text-transform: capitalize;
}

.img-centro {
  box-shadow: 0 0 20px #00d9ff66;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


table {
        margin: 5px auto;
        border-collapse: collapse;
        width: 40%;
        background-color: #1a1a40;
        color: white;
        box-shadow: 0 0 10px #00d9ff66;
        }

th, td {
        border: 3px solid #722479;
        padding: 12px;
        text-align: center;
        }

th {
 background-color: #7528759a;
        }
ul {
    text-align: left;
        }
