@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("https://t90131550257.p.clickup-attachments.com/t90131550257/64c73eb7-73c5-4028-aa4d-f4702caf38a0/generated-image-0350498c-7417-4bdd-87ad-b73d582809cf.png?view=open");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 20px;
  text-align: center;
}

p {
  font-size: 1.2em;
  color: #e0e0e0;
  text-align: center;
}

.overlay {
  background-color: rgba(145, 130, 205, 0.234);
  padding: 30px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: rgb(33, 184, 255);
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px; 
  padding-left: 10px;
}

.topo {
  padding-top: 70px; 
  margin-bottom: 1px;
  background: none;
}


.btn {
  background-color: #fff;
  color: #5d60ef;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #e0e0e0;
}


