header{
    background-color: #49204d;
    padding: 20px;
    border-bottom: 1px solid rgb(231, 178, 244);
    box-shadow: 0 0 20px #00d9ff66;
}

body {
    background-color: #1c1d45;
    color: #ffffff;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 25px;
}

nav ul li a{
    color: rgb(199, 210, 219);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

nav ul li a:hover{
    color: rgb(231, 178, 244);
    transform: scale(1.2);
}

nav ul li:hover{
    transform: scale(1.1);
}


h1 {
  font-family: "Goldman", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: #25afce;
  text-align: center;
  padding: 15px;
}

h2 {
  font-family: "Goldman", sans-serif;
  font-size: 16px;
  color: #8f4d9f;
  line-height: 1.5; 
}

p {
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  text-align: justify;
}

h3 {
  font-family: "Goldman", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #894194;
  line-height: 1.5;
}

figcaption {
  font-size: 14px;
  color: #d7c8c8;
  margin-top: 5px;
}

body {
  background-color: #1c1d45;
  color: #ffffff;
}

span {
  font-weight: bolder;
  text-transform: capitalize;
}

.img-centro {
  box-shadow: 0 0 20px #00d9ff66;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


h1 {
  transition: transform 0.3s ease;
  cursor: pointer; 
}

h1:hover {
  transform: scale(1.2);
} 

a {
  font-size: 16px;     
  color: #ffffff;      
  text-decoration: none; 
}
