header{
    background-color: #49204d;
    padding: 20px;
    border-bottom: 1px solid rgb(231, 178, 244);
    box-shadow: 0 0 20px #00d9ff66;
}

body {
    background-color: #1c1d45;
    color: #ffffff;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 25px;
}

nav ul li a{
    color: rgb(199, 210, 219);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

nav ul li a:hover{
    color: rgb(231, 178, 244);
    transform: scale(1.2);
}

nav ul li:hover{
    transform: scale(1.1);
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at top,#1c1d45);
  color: #f0f0f0;
  line-height: 1.6;
  padding: 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #771b81;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: #25afce;
  margin-bottom: 30px;
}

h3 {
  margin-top: 40px;
  color: #2a6cae;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

p {
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  text-align: justify;
}

.img-centro {
  display: block;
  margin: 10px auto;
}

figcaption {
  font-size: 14px;
  color: #d7c8c8;
  margin-top: 5px;
}


a {
  color: #2980b9;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .img-centro {
    width: 90% !important;
    height: auto !important;
  }

  p {
    padding: 0 15px;
  }
}

table {
        margin: 5px auto;
        border-collapse: collapse;
        width: 40%;
        background-color: #1a1a40;
        color: white;
        box-shadow: 0 0 10px #00d9ff66;
        }

 th, td {
        border: 3px solid #722479;
        padding: 12px;
        text-align: center;
        }

th {
     background-color: #7528759a;
        }
ul {
    text-align: left;
        }